@model MvcBlogApp.Models.Blog

@{
    ViewBag.Title = "Details";
}

<h1>@Model.Title</h1>
<hr />

<p>
    <span class="glyphicon glyphicon-time"></span>
    @Model.UploadDate
</p>
<hr />

<img src="http://placehold.it/900x300" class="img-responsive" alt="Alternate Text" />
<hr />

<blockquote>
    <p>@Model.Explanation</p>
</blockquote>

<p>@Model.Content</p>


<div class="comment">
    <hr />
    <div class="well">
        <h4>Bir Yorum Yap :</h4>
        <form role="form">
            <div class="form-group">
                <textarea class="form-control" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Gönder</button>
        </form>
    </div>
    <hr />

    <div class="media">
        <a class="pull-left" href="#">
            <img class="media-object" src="http://placehold.it/64x64" alt="">
        </a>
        <div class="media-body">
            <h4 class="media-heading">
                Start Bootstrap
                <small>August 25, 2014 at 9:30 PM</small>
            </h4>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        </div>
    </div>

    <div class="media">
        <a class="pull-left" href="#">
            <img class="media-object" src="http://placehold.it/64x64" alt="">
        </a>
        <div class="media-body">
            <h4 class="media-heading">
                Start Bootstrap
                <small>August 25, 2014 at 9:30 PM</small>
            </h4>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        </div>
    </div>

    <div class="clearfix"></div>

</div>

@section RightColumn{
<div style="margin-top:20px;">
    <div class="well">
        <h4>Blog Arama</h4>
        <hr />
        <div class="input-group">
            @Html.TextBox("q", null, new { @class = "form-control" })
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
    </div>
    <div class="well">
        <h4>Blog Arama</h4>
        <hr />
        <div class="input-group">
            @Html.TextBox("q", null, new { @class = "form-control" })
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
    </div>
</div>
}

